.navbar-inverse{
	background-color: #141414;
}

.jumbotron{
	background-color: white;
}

.form-inline{
	display: flex;
}

.panel-heading {
    min-height: 40px;
}

body{
	 background-color: #eee;
}